html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.ac-game-settings {
  width: 100%;
  height: 100%;
  background-image: url("/static/image/menu/background.jpg");
  background-size: 100% 100%;
  user-select: none;
}

.ac-game-settings-login {
  height: 46vh;
  width: 30vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.ac-game-settings-title {
  font-family: sans-serif;
  color: white;
  font-size: 4.5vh;
  font-weight: bolder;
  text-align: center;
  height: 7vh;
  padding-top: 2vh;
  margin-bottom: 2vh;
}

.ac-game-settings-username {
  display: block;
  height: 7vh;
}

.ac-game-settings-password {
  display: block;
  height: 7vh;
}

.ac-game-settings-submit {
  display: block;
  height: 7vh;
}

.ac-game-settings-tool {
  display: block;
  height: 5vh;
}

.ac-game-settings-item {
  width: 100%;
  height: 100%;
}

.ac-game-settings-item > input {
  line-height: 4vh;
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ac-game-settings-item > button {
  color: black;
  font-size: 3vh;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 4vh;
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.ac-game-settings-error-message {
  color: red;
  font-size: 2.5vh;
  font-family: sans-serif;
  display: inline;
  float: left;
  padding-left: 1vw;
}

.ac-game-settings-option {
  color: white;
  font-size: 3vh;
  font-family: sans-serif;
  display: inline;
  float: right;
  padding-right: 1vw;
  cursor: pointer;
}

.ac-game-settings-github {
  display: flex;
  justify-content: center; /* 在父元素中水平居中 */
  align-items: center; /* 在父元素中垂直居中 */
}

.ac-game-settings-third-party {
  display: inline-block;
}

.ac-game-settings-login-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.ac-game-settings-login-link > img {
  width: 5vh; /* Adjust icon size as needed */
  margin-right: 10px; /* Adjust margin between icon and text */
  border-radius: 50%;
}

.ac-game-settings-login-link > span {
  font-size: 3vh; /* Adjust font size as needed */
  color: white;
  font-family: sans-serif;
}

.ac-game-settings-register {
  height: 52vh;
  width: 30vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.ac-game-menu {
  width: 100%;
  height: 100%;
  background-image: url("/static/image/menu/background.jpg");
  background-size: 100% 100%;
  user-select: none;
}

.ac-game-menu-field {
  width: 20vw;
  position: relative;
  top: 40vh;
  left: 19vw;
}

.ac-game-menu-field-item {
  color: white;
  width: 18vw;
  font-size: 6vh;
  font-family: sans-serif;
  font-weight: bold;
  padding: 2vh;
  text-align: center;
  background-color: rgba(39, 21, 28, 0.6);
  border-radius: 10px;
  letter-spacing: 0.5vw;
  cursor: pointer;
}

.ac-game-menu-field-item:hover {
  transform: scale(1.2);
  transition: 100ms;
}

.ac-game-playground {
  width: 100%;
  height: 100%;
  user-select: none;
}
